.navigation-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-top .navbar-brand{
  font-family: 'Lora', serif !important;
  font-size: 24px;
}
.navbar-brand{
  font-family: 'Lora', serif !important;
  font-size: 24px;
}

.nav-link {
  font-family: 'Lora', serif !important;
}

.navbar-top .navbar-brand,
.navbar-top .nav-link {
  font-family: 'Lora', serif !important;
  color: white !important; /* Màu chữ trắng cho nền trong suốt */
}

/* Khi ở đầu trang (chưa scroll) */
.navbar-top {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Khi cuộn xuống */
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.2) !important; /* trong suốt hơn */
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
/* Ẩn khung viền mặc định */
.navbar-toggler {
  border: none !important;
}


